@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-size: 16px;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.custom-box {
  max-width: 700px;
  background-color: red;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  height: 800px;
  background-image: url("./images/img-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.custom-box::before,
.custom-box::after {
  content: "";
  clear: both;
  display: table;
}
.custom-box.hide {
  display: none;
}
.home-box h3 {
  font-size: 21px;
  color: red;
  font-weight: 500;
  margin-top: 100px;
  margin-bottom: 40px;
  line-height: 25px;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
.home-box p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 22px;
  color: black;
  font-weight: 400;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.home-box p span {
  font-weight: 500px;
  color: red;
  text-decoration: underline;
}
.home-box .btn {
  margin-top: 60px;
  text-align: center;
}
.btn {
  padding: 15px 45px;
  background-color: black;
  color: red;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline;
  margin: 0;
  text-align: center;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
  width: 100%;
  float: left;
}
.quiz-box.hide {
  display: none;
}

.quiz-box .question-number {
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid red;
  line-height: 25px;
  color: red;
  font-weight: bold;
}
.quiz-box .question-text {
  font-size: 22px;
  color: black;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
  font-weight: bold;
}
.quiz-box .question-image img {
  width: 600px;
  height: 200px;
}

.quiz-box .option-container .option {
  background-color: black;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  position: relative;
  overflow: hidden;
}
.quiz-box .option-container .option.already-answered {
  pointer-events: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quiz-box .option-container .option.correct::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  z-index: -1;
  animation: slideInLeft 0.5s ease forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.quiz-box .option-container .option.wrong::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: -1;
  animation: slideInLeft 0.5s ease forwards;
}
.quiz-box .option-container .option.wrong {
  color: white;
}
.quiz-box .option-container .option.correct {
  color: white;
}
.quiz-box .btn {
  margin: 15px 0;
}
.quiz-box .answers-indicator {
  border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 15px;
}
.quiz-box .answers-indicator div.correct {
  background-color: green;
  background-image: url("./images/img-correct.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.quiz-box .answers-indicator div.wrong {
  background-color: red;
  background-image: url("./images/img-wrong.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.result-box {
  text-align: center;
}
.result-box .hide {
  display: none;
}
.result-box h1 {
  font-size: 36px;
  line-height: 42px;
  color: red;
  text-decoration: underline;
}

.quiz-box .option-container .option {
  background-color: #cccccc;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quiz-box .option-container .option.correct::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  z-index: -1;
  animation: slideInLeft 0.5s ease forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.quiz-box .option-container .option.wrong::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: -1;
  animation: slideInLeft 0.5s ease forwards;
}
.quiz-box .option-container .option.wrong {
  color: #ffffff;
}
.quiz-box .option-container .option.correct {
  color: #ffffff;
}
.quiz-box .btn {
  margin: 15px 0;
}
.quiz-box .answers-indicator {
  border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #cccccc;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 15px;
}
.result-box {
  text-align: center;
}
.result-box .hide {
  display: none;
}
.result-box h1 {
  font-size: 36px;
  line-height: 42px;
  color: red;
  text-decoration: underline;
}
.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}
.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: #000000;
  width: 50%;
  text-align: left;
  font-size: 18px;
}
.result-box .btn {
  margin-right: 20px;
}
.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}
.result-box table td {
  border: 3px solid white;
  padding: 8px 15px;
  font-weight: 500;
  color: white;
  width: 50%;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  background-color: black;
}
.result-box .btn {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .result-box .btn {
    margin-bottom: 15px;
  }
  body {
    padding: 15px;
  }
}
